html, body{
	font-size:100%;
}

body{
	font-size:62.5%;
}

#timer{
	font-size: 10em;
	text-align: center;
}

.tea-tile{
	font-size: 4em;
	text-align: center;
	margin: 15px 0px;
	padding: 1em;
}

#black-tea-tile{
	background-color: black;
	color: white;
}

#green-tea-tile{
	background-color: green;
	color: white;
}

#white-tea-tile{
	background-color: white;
	color: black;
}

#pu-erh-tea-tile{
	background-color: red;
	color: white;
}