#timer{
	font-size: 150px;
	text-align: center;
}

.tea-tile{
	border: 1px solid black;
	font-size: 50px;
	text-align: center;
	padding: 50px;
}

#black-tea-tile{
	background-color: black;
	color: white;
}

#green-tea-tile{
	background-color: green;
	color: white;
}

#white-tea-tile{
	background-color: white;
	color: black;
}

#pu-erh-tea-tile{
	background-color: red;
	color: white;
}