body{
	font-family: Georgia, serif;
}

#timer{
	text-align: center;
	font-size: 100px;
	font-family: "Times New Roman", Times, serif;
}

.tea-tile{
	margin: 15px 0px;
	padding: 15px;
	border: 1px solid #eee;
}

.tea-tile:hover{
	background-color: #f8f8f8;
}

.tea-type{
	text-transform: capitalize;
}

#white-tea-tile .glyphicon{ color: lightgray; }
#green-tea-tile .glyphicon{ color: darkgreen; }
#oolong-tea-tile .glyphicon{ color: brown; }
#black-tea-tile .glyphicon{ color: black; }
#herbal-tea-tile .glyphicon{ color: olive; }
#rooibos-tea-tile .glyphicon{ color: chocolate ; }
#mate-tea-tile .glyphicon{ color: tomato ; }