html { 
  background: url(../water-flowers-drink-pot.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	font-family: Georgia, serif;
	background-color: transparent;
	padding: 15px;
}


.tea-tile{
	margin: 15px 0px;
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 6px;
	background-color: white;
}

.tea-type{
	text-transform: capitalize;
}

.tea-type .glyphicon{
	margin-right: 10px;
}

.white-tea-type .glyphicon{ color: lightgray; }
.green-tea-type .glyphicon{ color: darkgreen; }
.oolong-tea-type .glyphicon{ color: brown; }
.black-tea-type .glyphicon{ color: black; }
.herbal-tea-type .glyphicon{ color: olive; }
.rooibos-tea-type .glyphicon{ color: chocolate ; }
.mate-tea-type .glyphicon{ color: tomato ; }