body{
	font-family: Georgia, serif;
}

.tea-tile{
	margin: 15px 0px;
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 6px
}

.tea-type{
	text-transform: capitalize;
}

.tea-type .glyphicon{
	margin-right: 10px;
}


.white-tea-type .glyphicon{ color: lightgray; }
.green-tea-type .glyphicon{ color: darkgreen; }
.oolong-tea-type .glyphicon{ color: brown; }
.black-tea-type .glyphicon{ color: black; }
.herbal-tea-type .glyphicon{ color: olive; }
.rooibos-tea-type .glyphicon{ color: chocolate ; }
.mate-tea-type .glyphicon{ color: tomato ; }